{% extends "base.html" %}

{% block title %}
    Top Films List
{% endblock title %}

{% block subtitle %}
    Top Filmes List
{% endblock subtitle %}

{% block content %}
    {% if films %}
        <ul class="list-group">
        {% for film in films %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span><strong>{{ film["title"] }}</strong></span>
                    <button class="btn btn-sm btn-outline-primary" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#filmCollapse_{{ film['id'] }}" 
                            aria-expanded="false" 
                            aria-controls="filmCollapse_{{ film['id'] }}">
                        Ver detalhes
                    </button>
                </div>

                <div class="collapse mt-3" id="filmCollapse_{{ film['id'] }}">
                    <div class="card card-body">
                        <p><strong>Popularity:</strong> {{ film["popularity"] }}</p>
                        <p><strong>Original title:</strong> {{ film["original_title"] }}</p>
                        <p><strong>Vote average:</strong> {{ film["vote_average"] }}</p>
                        <p><strong>Vote count:</strong> {{ film["vote_count"] }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3 class="text-muted text-center">There's nothing here...</h3>
    {% endif %}
{% endblock content %}
