{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block subtitle %}Users{% endblock %}

{% block content %}
    <div class="container mt-4">
        <form action="/users" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" name="age" required>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender" name="gender" required>
            </div>

            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" required>
            </div>

            <button type="submit" class="btn btn-primary">Add user</button>
        </form>
    </div>
    <hr>

    {% if users %}
        <ul>
        {% for user in users %}
            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample_{{user['name']}}" role="button" aria-expanded="false" aria-controls="collapseExample_{{user['name']}}">
                    {{user["name"]}}
                </a>
            </p>
            <div class="collapse" id="collapseExample_{{user['name']}}">
                <div class="card card-body">
                    Age: {{user["age"]}} <br>
                    Gender: {{user["gender"]}} <br>
                    E-mail: {{user["email"]}} <br>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <h3>There's nothing here...</h3>
    {% endif %}
{% endblock %}