{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block subtitle %}Users{% endblock %}

{% block content %}
    <form action="/users" method="POST">
        Name <input type="text" name="name" required><br>
        Age <input type="text" name="age" required><br>
        Gender <input type="text" name="gender" required><br>
        E-mail <input type="text" name="email" required><br><br>
        <input type="submit" value="Add user">
    </form>
    <hr>

    {% if users %}
        <ul>
        {% for user in users %}
            <details>
                <summary style="background-color: lightgrey;">
                    {{ user["name"] }}
                </summary>
                <div style="background-color: skyblue;">
                    Age: {{ user["age"] }} <br>
                    Gender: {{ user["gender"] }} <br>
                    E-mail: {{ user["email"] }} <br>    
                </div>
            </details>
        {% endfor %}
        </ul>
    {% else %}
        <h3>There's nothing here...</h3>
    {% endif %}
{% endblock %}